.card__container {
  max-width: 20rem;
  background-color: white;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 0 5px grey;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem;
  padding: 2rem 1rem 1rem;
}

.image__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image__container img {
  max-width: 10rem;
}

.details__container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

.button__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__container button {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}

.button__container button:hover {
  cursor: pointer;
}
