.cart__container {
  background-color: #2d3864;
  min-height: 100vh;
  color: #36454f;
  padding: 1rem;
  box-sizing: border-box;
  margin-bottom: 10rem;
}

.cart__contents__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  place-content: center;
  justify-items: center;
}

.cart__heading__container {
  color: white;
}
