.navbar__container {
  background-color: #ffffff;
  height: fit-content;
  padding: 1rem 1rem 0 1rem;
  display: flex;
  min-width: 100vw;
  justify-content: space-between;
  align-items: end;
}

.navbar__store {
  color: #36454f;
  background-color: inherit;
  font-size: 2rem;
}

.navbar__links__container {
  background-color: inherit;
}

.navbar__links__container ul {
  display: flex;
  gap: 1rem;
}

.navbar__links__container > * {
  list-style-type: none;
}

.items__in__cart {
  color: orange;
  font-weight: bold;
  font-size: 0.8rem;
  margin-left: 0.3rem;
}

.home__button, .cart__button {
  padding: 0.5rem 1rem;
  background-color: #000080;
  color: rgb(222, 222, 222);
  border: none;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart__button {
  background-color: #2d3864;
}

.home__button:hover,
.cart__button:hover {
  cursor: pointer;
  transition: 0.2s;
  color: white;
}

.home__button .active {
  background-color: #000080;
  color: rgb(181, 181, 181);
}
